$white: rgb(255,255,255);
$orange: rgb(237,195,90);
$black: rgb(0,0,0);

//etta and essie
$lighter-teal: rgb(226,247,239);
$light-teal: rgb(155,200,181);
$teal: rgb(140,181,164);
$off-teal: rgb(160,202,186);
$brown: rgb(83,54,23);
$light-brown: rgb(82,58,32);
$lighter-brown: rgb(173,159,255);
